@import './reset.scss';
@import './variable.scss';

@import './components/footer.scss';
@import './components/header.scss';
@import './components/video-block.scss';
@import './components/video-overlay.scss';

@import './router/home.scss';
@import './router/process.scss';
@import './router/portfolio.scss';

body {
    background: $cl-black;
    word-break: keep-all;
}

.container {
    padding: 48px 72px;

    @include mobile {
        padding: 16px 12px;
    }
}